body {
    background-color: #BF8B78;
    font-family: calibri;
}

h1 {
    font-size: 48px;
}

.main_content {
    padding: 50px;
    display: flex;
}

.col_one {
    background-color: #EAEAEA;
    width: 400px;
    border-radius: 10px;
    box-shadow:0 0 10px gray;
    padding: 40px;
    padding-top:5px;
}

.form {
    max-width: 100%;
    margin-top: -30px;
    margin-bottom: 20px;
}

.form_container {
    display:flex;
}

#counter {
    margin-left: 10px;
}

#add-todo {
    width: 85%;
    height: 30px;
}

#add_btn {
    height: 35px;
}

input[type='submit'], button [aria=label] {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin-top: 10px;
}

td {
    background-color: #BF8B78;
    padding: 10px;
    text-align: left;
    box-shadow:0 0 10px gray;
    border-radius: 10px;
}

.to-do {
    background: transparent !important;
}

.three-dots:after {
    cursor: pointer;
    color: #FCC;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
}

.dropdown {
    position: absolute;
    box-shadow: 0px 0px 10px gray;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: 0.2s 0.2s 0.2s;
}

.dropdown-container:focus {
    outline: none;
}
  
.dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: 0.2s 0.2s 0.2s;
}

.col_two{
    background-color: #EAEAEA;
    width: 600px;
    border-radius: 10px;
    box-shadow:0 0 10px gray;
    padding: 40px;
    margin-left: 5%;
}

